.editor-footer {
  display: flex;
  width: 90%;
}

.footer-ctrl {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: 90%;
  > button {
    display: flex;
    border: none;
    position: relative;
    margin-left: 4px;
    padding: 0;
    background: transparent;
    cursor: pointer;
    > svg {
      width: 16px;
      height: 16px;
      fill: #bbc1c7;
    }
    &:hover {
      > svg {
        fill: #001424;
      }
      > span {
        display: flex;
      }
    }
    > span {
      &::before{
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-top-color: #001424;
        left: 180px;
        top: 63px;
      }
      display: none;
      position: absolute;
      font-size: 14px;
      line-height: 1.4;
      background-color: #001424;
      border-radius: 4px;
      box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%), 0 44px 40px 0 rgb(0 0 0 / 10%);
      width: 180px;
      color: #fff;
      padding: 12px;
      bottom: 25px;
      left: -180px;
    }
  }
}