.reaction-popup {
  display: none;
  position: relative;
  margin-left: auto;
  button {
    width: 20px;
    height: 20px;
    > svg {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    .reaction-popup-menu {
      display: flex;
    }
  }
}