@import '../../../scss/table';

.zoom {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: calc(100% - 68px);
  padding: 20px 36px;
  > h2 {
    display: flex;
    justify-content: center;
    color: #605f5f;
    padding-bottom: 16px;
  }

  @include table();

}