.zoom-watch {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.zoom-watch-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.zoom-watch-footer {
  display: flex;
  flex-direction: column;
  padding: 24px 36px;
  box-sizing: border-box;
  margin-top: auto;
  border-top: 1px solid #bbc1c7;
  > h2 {
    display: flex;
    justify-content: center;
    user-select: none;
    text-align: center;
    color: #0000009e;
  }
}